* {
    box-sizing: border-box;
}

body {
    .absolute(0,0,0,0);
    overflow: hidden;
    font-family: @basefont;
    font-size: 14px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    // background-color: #f8f8f8;
    color: @black;
    background: linear-gradient(325deg, #ddd, #f0f0f0);
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    color: @blue;
    font-size: 2rem;
    margin: 0;
}

details summary {
    font-family: 'u001_condensed';
    font-size: 1.5rem;
    padding: @margin / 3 0;
    margin: @margin / 2 0;
    cursor: default;
    color: @blue;
}

.header {
    height: initial;
    padding: @margin / 2 0;
    justify-content: flex-start;

    .header-logo {
        font-family: 'u001_condensed';
        font-size: 1.5rem;
        width: calc(~'@{sidebarW} + @{margin} * 2');
    }

    .header-links {
        margin-left: auto;
        display: flex;
        align-items: center;

        > div {
            margin-left: @margin;
        }
    }
}

.footer {
    font-size: 0.8rem;
    justify-content: flex-end;
    height: initial;
    padding: @margin / 3 @margin;
}

.user {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
