.log {
    .absolute(0,0,0,0);
    display: flex;
    flex-direction: column;

    .header {
        padding: 0 @margin;
    }

    .main {
        height: 100%;
        padding-bottom: @margin * 2;
        display: flex;
        flex-direction: row;

        .items-wrapper,
        .text {
            .neumorph();
            width: @sidebarW;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
        }

        .items-wrapper {
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            border-left: 0px;
        }

        .text {
            border-right: 0px;
            border-top-right-radius: initial;
            border-bottom-right-radius: initial;
        }

        .map-wrapper {
            margin: 0 @margin * 3;
        }
    }
}

// .user {
//     .absolute(0, initial, initial, 0);
//     z-index: 1000;
//     width: 32px;
//     height: 32px;
//     border: 1px solid black;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 32px;
//     text-transform: uppercase;
//     font-weight: bold;
// }
